<div id="header"><h1>Giftdriver</h1></div>

<h2>Helping Organizations and Families Connect</h2>
  <div id="top-box">

  <div id="big-daddy">
    <div class="tiles"><p>socks</p></div>
    <div class="tiles"><p>socks</p></div>
    <div class="tiles"><p>socks</p></div>
    <div class="tiles"><p>socks</p></div>
    <div class="tiles"><p>socks</p></div>
    <div class="tiles"><p>socks</p></div>
    <div class="tiles"><p>socks</p></div>
    <div class="tiles"><p>car seats</p></div>
    <div class="tiles"><%=image_tag("Happy-Childrens-Day-5.jpg")%></div>
    <div class="tiles"><p>diapers</p></div>
    <div class="tiles"><p>sneakers</p></div>
     <div class="tiles"><%=image_tag("2007_Winter_article_holidays2.jpg")%></div>
    <div class="tiles"><%=image_tag("Holiday_Family(3).jpg")%></div>
    <div class="tiles"><p>new boots</p></div>
    <div class="tiles"><p>cribs</p></div>
     <div class="tiles"><%=image_tag("The-Artful-Winter-eBook-03.jpg")%></div>
    <div class="tiles"><%=image_tag("justin-bieber-300.jpg")%></div>
    <div class="tiles"><p>new towels</p></div>
    <div class="tiles"><p>new towels</p></div>
    <div class="tiles"><p>new towels</p></div>
    <div class="tiles"><p>new towels</p></div>
    <div class="tiles"><p>new towels</p></div>
    <div class="tiles"><p>new towels</p></div>
    <div class="tiles"><p>new towels</p></div>
    <div class="tiles"><p>new towels</p></div>
    <div class="tiles"><p>new towels</p></div>
    <div class="tiles"><p>new towels</p></div>
    <br style="clear: both;">
  </div>

  </div>

<div id="home-box">
  <div class="home-drives">
    <h3><%= link_to "See all Drives", drives_path %></h3>
  </div>
  <div class="home-drives">
    <h3>Something</h3>
  </div>
  <div class="home-drives">
    <h3>Something</h3>
  </div>
</div>
