<% if current_user && organizer?(@drive)  %>
<div class="access">
  
  
  <div class="add-organizer three">
    <h3>Add an Organizer</h3>
    <%= form_tag("/drives/#{@drive.id}/add_organizer", method: "post") do %>
      <%= email_field_tag :email, nil, :placeholder => "new organizer email" %>
      <div><%= submit_tag("Add Organizer") %></div>
    <% end %> 
    
    <h3>Current Organizers</h3>
    <ul>
    <% @organizers.each do |organizer| %>
      <% if last_organizer?(@drive) %>
        <li><%= organizer.user.full_name.upcase %> <br><%= organizer.user.email %></li>
      <% else %>
        <li><%= organizer.user.full_name.upcase %> <br><%= organizer.user.email %>
          <ul>
            <li><%= link_to "Remove #{organizer.user.full_name} as organizer", delete_organizer_path(:user_id => organizer.user.id) %></li>
          </ul>
      <% end %>
    <% end %>
    </ul>
   
  </div>
  
  <%= render '/drop_locations/form' %>

  <%= render 'drive_organizer_buttons', locals: { family: @family, drive: @drive } %>

</div>
<% end %>