<% if current_user && organizer?(@drive)  %>
<div class="access">
  
  <%= render '/drop_locations/form' %>
  <%= render 'drive_organizer_buttons', locals: { family: @family, drive: @drive } %>
  
  <div class="add-organizer">
    <h3>Add an Organizer</h3>
    <%= form_tag("/drives/#{@drive.id}/add_organizer", method: "post") do %>
    
    <%= email_field_tag :email, nil, :placeholder => "new organizer email" %>
    <div><%= submit_tag("Add Organizer") %></div>
    <% end %> 
    <h4>Current Organizers</h4>
    <% @organizers.each do |organizer| %>
      <% if last_organizer?(@drive) %>
        <%= organizer.user.full_name %>
        <%= organizer.user.email %><br>
      <% else %>
        <%= link_to "Delete", delete_organizer_path(:user_id => organizer.user.id) %>
        <%= organizer.user.full_name %>
        <%= organizer.user.email %><br>
      <% end %>
    <% end %>
   
  

</div>
</div>
<% end %>
