<div class='add-edit-family'>
  <h3>Add a New Family</h3>
  <%= form_for([@drive, @family]) do |f| %>
    <%= f.text_field :code, :placeholder => 'family code', required: :true, :class => "tooltips", rel: "tooltip", title: "Another Sample tooltip. Here is a sentence to make it longer." %><br>
    <% unless sole_location?(@drive) %>
      <%= f.collection_select(:drop_location_id, @drive.drop_locations, :id, :code)%> 
    <% end %>
    <div class="button"><%= f.submit("Add Family") %></div>
  <% end %>

<%= link_to "Edit Drive Details", edit_drive_path(@drive) %><br>

<%= link_to "Update Family Gifts Status", manage_path(@drive) %><br>

<%= link_to "Import Family Data", new_drive_family_member_import_path(@drive) %>
</div>
