<div class='add-edit-family'>
  <h3>Add a New Family</h3>
  <%= form_for([@drive, @family]) do |f| %>
    <%= f.text_field :code, :placeholder => 'family code' %><br>
      <%= f.fields_for :drop_locations do |l| %>
      <%= l.text_field :code, :placeholder => 'location nickname' %>
    <% end %>
    <div class="button"><%= f.submit("Add Family") %></div>
<% end %>

<%= link_to "Edit Drive Details", edit_drive_path(@drive) %><br>

<%= link_to "Update Family Gifts Status", manage_path(@drive) %><br>

<%= link_to "Import Family Data", new_drive_family_member_import_path(@drive) %>
</div>
