<div class='family-stuff'>
  <h3>Add a New Family</h3>
  <%= form_for([@drive, @family]) do |f| %>
    <%= f.text_field :code, :placeholder => 'enter family code' %>
    <div class="button"><%= f.submit "Add a Family" %></div>
<% end %>

<%= link_to "Edit Drive Details", edit_drive_path(@drive) %><br>

<%= link_to "Update Family Gifts Status", manage_path(@drive) %><br>

<%= link_to "Import Family Data", new_drive_family_member_import_path(@drive) %>
</div>
