<%= render 'shared/form_errors', :object => @drive %>

<div class="form">

 <%= form_for @drive do |f|%>
  <div id="create-wrapper">
    <div id="left">
      <h2>Create a Drive</h2>
      <h3>Organization Details</h3>
      <h5>Name</h5>
      <%= f.text_field :org_name, :placeholder => "Organization Name", :autofocus => true %>
      <h5>Description</h5>
      <%= f.text_area :org_blurb, :placeholder => "Organization Description", :rows => 10  %>
      <h5>Email</h5>
      <%= f.email_field :org_email, :placeholder => "Organization Email" %>
      <h5>Phone number</h5>
      <%= f.text_field :org_phone, :placeholder => "Organization Phone Number" %>
      <h5>Address</h5>
      <%= f.text_field :org_address, :placeholder => "Organization Address" %>
      <h5>Zipcode</h5>
      <%= f.text_field :org_zipcode, :placeholder => "Organization Zipcode" %>
    </div>

    <div id="middle">
      <h3>Drive Details</h3>
      <h5>Title</h5>
      <%= f.text_field :drive_title, :placeholder => "Giftdrive Title" %>
      <h5>Description</h5>
      <%= f.text_area :drive_blurb, :placeholder => "Giftdrive Description", :rows => 10 %>
      <h5>Start Date</h5>
      <%= f.text_field :start_date, :placeholder => "Drive Start Date" %>
      <h5>End Date</h5>
      <%= f.text_field :end_date, :placeholder => "Drive End Date" %>
      
    </div>

    <div id="right">
      <h3>Drop Location Details</h3>
      <%= f.fields_for :drop_locations do |l| %>
        <h5>Street</h5>
        <%= l.text_field :street, :placeholder => "Street Address" %>
        <h5>City</h5>
        <%= l.text_field :city, :placeholder => "City" %>
        <h5>State</h5>
        <%= l.text_field :state, :placeholder => "State" %>
        <h5>Zipcode</h5>
        <%= l.text_field :zipcode, :placeholder => "Zipcode" %>
        <h5>Location name</h5>
        <%= l.text_field :code, :placeholder => "Location Name or Code" %>
        <h5>(Additional drop locations can be added</h5>
        <h5>following intial creation of your drive)</h5>
      
        <div id="build" class="button"><%= f.submit %></div>
      <% end %>
    </div>
  </div>
    <% end %>
</div>

