<%= render 'shared/form_errors', :object => @drive %>

<div class="form">

 <%= form_for @drive do |f|%>
  <div id="create-wrapper">
    <div id="left">
      <h2>Create a Drive</h2>

      <h3>Organization Details</h3>

      <div class="form-item"><%= f.label :Name %>
      <%= f.text_field :org_name, :autofocus => true %>

      <div class="form-item"><%= f.label :Description %>
      <%= f.text_area :org_blurb, :rows => 10  %>

      <div class="form-item"><%= f.label :Email %>
      <%= f.email_field :org_email %>

      <div class="form-item"><%= f.label :Phone %>
      <%= f.text_field :org_phone %>

      <div class="form-item"><%= f.label :Address %>
      <%= f.text_field :org_address %>
      
      <div class="form-item"><%= f.label :Zipcode %>
      <%= f.text_field :org_zipcode %>
    </div>

    <div id="middle">
      <h3>Drive Details</h3>

      <div class="form-item"><%= f.label :Title %>
      <%= f.text_field :drive_title %>

      <div class="form-item"><%= f.label :Desription %>
      <%= f.text_area :drive_blurb, :rows => 10 %>

      <div class="form-item"><%= f.label :Start_date %>
      <%= f.text_field :start_date %>

      <div class="form-item"><%= f.label :End_date %>
      <%= f.text_field :end_date %>
      
    </div>

    <div id="right">
      <h3>Drop Location Details</h3>
      <%= f.fields_for :drop_locations do |l| %>

        <div class="form-item"><%= l.label :Street %>
        <%= l.text_field :street %>

        <div class="form-item"><%= l.label :City %>
        <%= l.text_field :city %>

        <div class="form-item"><%= l.label :State %>
        <%= l.text_field :state %>

        <div class="form-item"><%= l.label :Zipcode %>
        <%= l.text_field :zipcode %>
        
        <div class="form-item"><%= l.label :Name %>
        <%= l.text_field :code %>

        <h5>(Additional drop locations can be added</h5>
        <h5>following intial creation of your drive)</h5>
      
        <div id="build" class="button"><%= f.submit %></div>
      <% end %>
    </div>
  </div>
    <% end %>
</div>

