<%= render 'shared/form_errors', :object => @drive %>

<div class="form">
 <%= nested_form_for @drive do |f|%>
  <div id="create-wrapper">
    <div id="left">

      <h3>Organization Details</h3>

      <div class="form-item"><%= f.label :Name %>
      <%= f.text_field :org_name, required: :true, :autofocus => true %></div>

      <div class="form-item"><%= f.label :Description %>
      <%= f.text_area :org_blurb, :rows => 10, required: :true  %></div>

      <div class="form-item"><%= f.label :Email %>
      <%= f.email_field :org_email, required: :true %></div>

      <div class="form-item"><%= f.label :Phone %>
      <%= f.text_field :org_phone, required: :true %></div>

      <div class="form-item"><%= f.label :Address %>
      <%= f.text_field :org_address, required: :true %></div>
      
      <div class="form-item"><%= f.label :Zipcode %>
      <%= f.text_field :org_zipcode, required: :true %></div>
    </div>

    <div id="middle">
      <h3>Drive Details</h3>

      <div class="form-item"><%= f.label :Title %>
      <%= f.text_field :drive_title, required: :true, required: :true %></div>

      <div class="form-item"><%= f.label :Desription %>
      <%= f.text_area :drive_blurb, :rows => 10, required: :true %></div>

      <div class="form-item"><%= f.label :Start_date %>
      <%= f.text_field :start_date, required: :true %></div>

      <div class="form-item"><%= f.label :End_date %>
      <%= f.text_field :end_date, required: :true %></div>
      
    </div>

    <div id="right">
      
      <%= f.fields_for :drop_locations do |l| %>
        <div class="location-form">
          <h3>Drop Location Details</h3>
          <%= l.fields_for :drop_dates do |d| %>
         
              <%= d.label :date_and_time %>
              <%= d.text_field :date_and_time %>
              <%= d.link_to_remove "Remove" %>
              <%  end %>
            <div id="add-a-need-button"><%= l.link_to_add "Add drop date and time", :drop_dates %></div><br> 
          <div class="form-item"><%= l.label :Name %>
          <%= l.text_field :code, required: :true %></div>
          
          <div class="form-item"><%= l.label :Street %>
          <%= l.text_field :street, required: :true %></div>

          <div class="form-item"><%= l.label :City %>
          <%= l.text_field :city, required: :true %></div>

          <div class="form-item"><%= l.label :State %>
          <%= l.text_field :state, required: :true %></div>

          <div class="form-item"><%= l.label :Zipcode %>
          <%= l.text_field :zipcode, required: :true %></div>
          
        </div>
        <% end %>
            
         
          <div id="add-a-need-button"><%= f.link_to_add "ADD ANOTHER DROP LOCATION", :drop_locations %></div> 

      <div id="build"><%= f.submit %></div> 
      
    </div>
  </div>
    <% end %>
</div>

