<%= render 'shared/form_errors', :object => @drive %>
<div class="form">

 <%= form_for @drive do |f|%>

  <div class="row">

    <div class="span5">
      <%= f.text_field :drive_title, :placeholder => "Giftdrive Title" %>
      <%= f.text_area :drive_blurb, :placeholder => "Giftdrive Description", :rows => 10 %>
      <%= f.text_field :start_date, :placeholder => "Drive Start Date" %>
      <%= f.text_field :end_date, :placeholder => "Drive End Date" %>
      <h3>Drop Location Details</h3>
      <%= f.fields_for :drop_locations do |l| %>
        <%= l.text_field :street, :placeholder => "Street Address" %>
        <%= l.text_field :city, :placeholder => "City" %>
        <%= l.text_field :state, :placeholder => "State" %>
        <%= l.text_field :zipcode, :placeholder => "Zipcode" %>
        <%= l.text_field :code, :placeholder => "Location Name or Code" %>
      <% end %>
    </div>

    <div class="span5">
      <h3>Organization Details</h3>
      <%= f.text_field :org_name, :placeholder => "Organization Name", :autofocus => true %>
      <%= f.text_area :org_blurb, :placeholder => "Organization Description", :rows => 10  %>
      <%= f.email_field :org_email, :placeholder => "Organization Email" %>
      <%= f.text_field :org_phone, :placeholder => "Organization Phone Number" %>
      <%= f.text_field :org_address, :placeholder => "Organization Address" %>
      <%= f.text_field :org_zipcode, :placeholder => "Organization Zipcode" %>
      <div class="button">
        <%= f.submit("Create Drive!") %>
      </div>
    </div>
  </div>
  <% end %>
</div>

