<table class="table">
  <thead>
    <tr>
      <th>Family Code</th>
      <th>Family Size</th>
      <th>Adopted?</th>
      <th>Adopter Email</th>
      <th>Gifts Arrived</th>
      <th>Gifts Given</th>
    </tr>
  </thead>
  <tbody>
    <% @families.each do |family| %>
      <tr>
        <td><%= family.code %></td>
        <td><%= family.family_members.length %></td>
        <td>
          <%if family.adopted? %>
            yes
          <% else %>
            no
          <% end %>
        </td>
        <td>
          <% if family.adopted? %>
            <%= family.get_adopter_email %>
          <% end %>
        </td>
        <td><div class="received">
          <% if family.adopted? %>
            <% if family.received_at_org == false %>
              <button><%= link_to "Received", update_gift_status_path(family, status: 'received_at_org') %></button>
            <% else %>
                <%=  Time.now.strftime("%B %-d, %Y") %>
            <% end %>
          <% end %>
        </div>
        </td>

        <td><div class="delivered">

          <% if family.adopted? && family.received_at_org %>
            <% if !family.given_to_family %>
              <button><%= link_to "Delivered", update_gift_status_path(family.id, status: 'given_to_family') %></button>
            <% else %>
              <%=  Time.now.strftime("%B %-d, %Y") %>
            <% end %>
          <% end %>
        </div>
        </td>
      </tr>
    <% end %>

  </tbody>

</table>



