
  <div class="drive-deets">
    <%= render 'shared/drive_sub_nav', locals: { drive: @drive } %>
    <hr>
    <br>
  </div>

<div id="manage-all">
<table class="datatable table table-striped table-scrollable table-bordered" id="manage_table">
  <thead>
    <tr>
      <th>Family Code</th>
      <th>Delete?</th>
      <th>Size</th>
      <th>Adoptor</th>
      <th>Email</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Company</th>
      <th>Gifts Arrived</th>
      <th>Boxes?</th>
      <th>Gifts Given</th>
      <th>Update</th>
    </tr>
  </thead>
  <tbody>
    <% @families.each do |family| %>
    <tr>
      <td><%= family.code %></td>
      <td><%= link_to "delete", family_path(family.id, :drive_id => family.drive_id), :confirm => 'Are you sure?', :method => :delete %></td>
      <td><%= family.family_members.length %></td>
      <td>
        <% if family.adopted? %>
        <%= family.get_adopter_name %>
        <% end %>
      </td>
      <td>
        <% if family.adopted? %>
        <%= family.get_adopter_email %>
        <% end %>
      </td>
      <td class="adoptor-address">
        <% if family.adopted? %>
        <%= family.get_adopter_address %>
        <% end %>
      </td>
      <td>
        <% if family.adopted? %>
        <%= family.get_adopter_phone %>
        <% end %>
      </td>
      <td>
        <% if family.adopted? %>
        <%= family.get_adopter_company %>
        <% end %>
      </td>
      <td>
        <%= form_tag("/families/#{family.id}/update_gift_status") do %>

          <%= text_field_tag :received_at_org, family.received_at_org, :style => "width: 80px" %> 
      </td>

      <td>
        <%= text_field_tag :num_boxes, family.num_boxes, :style => "width: 16px; height: 16px;" %>
      </td>

      <td>
        <%= text_field_tag :given_to_family, family.given_to_family, :style => "width: 80px" %>
      </td>

      <td>
        <%= submit_tag "Update" %>
      </td>
        <% end %>


    
    </tr>
<% end %>

</tbody>

</table>
</div>


