
  <div class="drive-deets">
    <%= render 'shared/drive_sub_nav', locals: { drive: @drive } %>
    <hr>
    <br>
  </div>

<div id="manage-all">
<table class="datatable table table-striped table-scrollable table-bordered" id="manage_table">
  <thead>
    <tr>
      <th>Family Code</th>
      <th>Delete?</th>
      <th>Size</th>
      <th>Adoptor</th>
      <th>Email</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Company</th>
      <th>Gifts Arrived</th>
      <th>Boxes?</th>
      <th>Gifts Given</th>
    </tr>
  </thead>
  <tbody>
    <% @families.each do |family| %>
    <tr>
      <td><%= family.code %></td>
      <td><%= link_to "delete", family_path(family.id, :drive_id => family.drive_id), :confirm => 'Are you sure?', :method => :delete %></td>
      <td><%= family.family_members.length %></td>
      <td>
        <% if family.adopted? %>
        <%= family.get_adopter_name %>
        <% end %>
      </td>
      <td>
        <% if family.adopted? %>
        <%= family.get_adopter_email %>
        <% end %>
      </td>
      <td class="adoptor-address">
        <% if family.adopted? %>
        <%= family.get_adopter_address %>
        <% end %>
      </td>
      <td>
        <% if family.adopted? %>
        <%= family.get_adopter_phone %>
        <% end %>
      </td>
      <td>
        <% if family.adopted? %>
        <%= family.get_adopter_company %>
        <% end %>
      </td>
      <td><div class="received">
        <% if family.adopted? %>
          <% if family.received_at_org == false %>
            <div class="cw-button" id="received"><%= link_to "Received", update_gift_status_path(family.id, status: 'received_at_org'), action: 'post' %></div>
          <% else %>
            <%=  Time.now.strftime("%B %-d, %Y") %>
          <% end %>
        <% end %>
      </div>
    </td>
    <td>
      <% if family.adopted? %>
        <%= form_for family do |f|%>
        <ul id="boxes">
          <li><div><%= f.text_field :num_boxes, :value => family.num_boxes, :style => "width: 16px; height: 10px;" %></div></li> 
          <li><div><%= f.submit "" %></div></li>
        <% end %>
      <% end %>
    </ul>
    </td>

      <td><div class="delivered">

        <% if family.adopted? && family.received_at_org %>
          <% if family.given_to_family == false %>
            <div class="cw-button" id="delivered"><%= link_to "Delivered", update_gift_status_path(family.id, status: 'given_to_family'), action: 'post' %></div>
          <% else %>
            <%=  Time.now.strftime("%B %-d, %Y") %>
          <% end %>
        <% end %>
      </div>
    </td>
  </tr>
<% end %>

</tbody>

</table>
</div>


