<table class="table">
  <thead>
    <tr>
      <th>Family Code</th>
      <th>Family Size</th>
      <th>Adopted?</th>
      <th>Adopter Email</th>
      <th>Gifts Arrived</th>
      <th>Gifts Given</th>
    </tr>
  </thead>
  <tbody>
    <% @families.each do |family| %>
      <tr>
        <td><%= family.code %></td>
        <td><%= family.family_members.length %></td>
        <td>
          <%if family.adopted? %>
            yes
          <% else %>
            no
          <% end %>
        </td>
        <td>nwy</td>
        <td>
          <% if family.adopted? %>
            <% if family.received_at_org == false %>
              <button><%= link_to "Received", update_arrived_path(family.id) %></button>
            <% else %>
                <%=  Time.now.to_date %>
            <% end %>
          <% else %>
          <% end %>
        </td>

        <td>
          <% if family.adopted? && family.received_at_org %>
            <% if family.given_to_family == false %>
              <button><%= link_to "Delivered", update_given_path(family.id) %></button>
            <% else %>
              <%=  Time.now.to_date %>
            <% end %>
            <% else %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


