<div class="inner">
  <div class="drive-deets">
    <%= render 'shared/drive_sub_nav', locals: { drive: @drive } %>
    <hr>

    <div class="row">
      <div class="span6 blurb">
        <h2>About this drive</h2>
        <p><%= @drive.drive_blurb %></p>
      </div>
      <div class="drop-deets span3">Drive dates:<br /><span class="date"><%= @drive.start_date %></span> to <span class="date"><%= @drive.end_date %></span></div>
      <div class="span3 cw-button"><%= link_to "See all families", drive_families_path(@drive) %></div>
    </div>

    <hr>

    <%= render 'locations', location: @location, drive: @drive %>

    <hr>

    

    <div class="all-families-link"><h1><%= link_to "See all #{@drive.drive_title} families", drive_families_path(@drive) %></h1></div>

    <hr>

    <div class="row">
      <div class="org-info">
        <div class="span6">
          <h3>About <%= @drive.org_name %></h3>
          <p><%= @drive.org_blurb %></p>
        </div>
      <div class="contact span3">
        <h5>Contact <%= @drive.org_name %></h5>
          <p><i class="icon-envelope"></i> <%= @drive.org_email %></p>
          <p><i class="icon-phone"></i> <%= @drive.org_phone %></p>
          <p><i class="icon-home"></i> <%= @drive.org_address %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render '/drives/dashboard' %>
