<div id="drive-deets">
  <h2 class="title"><%= @drive.drive_title %></h2>
  <h3 class="organizers">Organized by <%= @drive.org_name %></h3>
  <p>Drop off gifts from <%= @drive.start_date %> to <%= @drive.end_date %> at <%= @drive.drop_location %></p>

  <p><%= @drive.drive_blurb %><p>

  <h3>About <%= @drive.org_name %></h3>
  <%= @drive.org_blurb %>

  <h4>Contact Us</h4>
  <p>Email: <%= @drive.org_email %></p>
  <p>Phone: <%= @drive.org_phone %></p>
  <p>Address: <%= @drive.org_address %>, <%= @drive.org_zipcode %></p>

  <h2>Featured Families to Adopt</h2>
  <% @not_adopted.each do |family| %>
    <div class="family">
      <p><%= family.members_names_sentence %></p>
      
    </div>
  <% end %>

  <button><%= link_to "See #{@drive.drive_title} Families", drive_families_path(@drive) %></button>
  <% if organizer?(@drive) %> 
    <%= render 'drive_organizer_buttons', locals: { family: @family, drive: @drive } %>
  <% end %>
</div>



<div class="add-access">
  <p>Add an Organizer</p>
  <%= form_tag("/drives/#{@drive.id}/access", method: "post") do %>
      <%= label_tag :Email %>
      <%= email_field_tag :email %>
      <%= submit_tag("Add another Organizer") %>
  <% end %>
  <p>The current drive's organizers</p>
  <% @organizers.each do |organizer| %>
    <%= link_to "Delete Organizer", delete_organizer_path(:user_id => organizer.user.id) %>
    <%= organizer.user.full_name %>
    <%= organizer.user.email %><br>
  <% end %>
</div>






