<div id="drive-deets">
  <h2><%= @drive.drive_title %></h2><br>
  <%= @drive.drive_blurb %><br>
  <%= @drive.org_name %><br>
  <%= @drive.org_blurb %><br>
  <%= @drive.org_email %><br>
  <%= @drive.org_phone %><br>
  <%= @drive.org_address %><br>
  <%= @drive.org_zipcode %><br>
  <%= @drive.drop_location %><br>
  <%= @drive.start_date %><br>
  <%= @drive.end_date %><br>
  <p><%=link_to "See the Families", drive_families_path(@drive) %></p>
  <p><%=link_to "Add a Family", new_drive_family_path(@drive) %></p>
</div>








