<div class="family-details-card">
  <h3><%= link_to "Family #{family.code}", family_path(family), action: 'get' %></h3>
  <ul>
    <% family.family_members.each do |member| %>
    <li><%= member.first_name %>, age: <%= member.age %></li>
    <% end %>
  </ul>
  <div class="family-needs">Their needs include: <%= family.sampled_needs(2).to_sentence %>...<%= link_to "continue reading", family_path(family), action: 'get' %></div>

  <br>
  <% if organizer?(@drive) %>
    <% if family.drop_location_id == nil %>

    <p style="color: red;">WARNING: This family has no drop location assigned and is not yet visible to donors. Add a drop location ID number now. You can find a list of your drop location ID numbers in the Orgainzer Dashboard at the bottom of the Drive home page.</p>

    <div id="hidden-location-update-div">
      <%= form_tag("/families/#{family.id}/update_location_code") do %>
        <%= text_field_tag :location_code, (family.drop_location_id), :style => "width: 80px" %> 
        <%= submit_tag "Add ID" %>
      <% end %>
    </div>

    <% else %>
      <%= link_to "Update Family Code or Location ID", edit_family_path(family) %> 
  <% end %>

<% end %>

</div>