<div class="inner">
  <%= render 'shared/drive_sub_nav', locals: { drive: @drive } %>
  
  <hr>
  <div id="home-box">
  <h1>Families to Adopt</h1>
  <%= render 'filter_by_size_buttons' %>
  <div class="families-to-adopt">
    <% @not_adopted.each do |family| %>
      <% if family.family_members.length != 0 %>
      <div class="family-details-card">
        <h3><%= link_to "Family #{family.id}", family_path(family), action: 'get' %></h3>
        <ul>
          <% family.family_members.each do |member| %>
          <li><%= member.first_name %>, age: <%= member.age %></li>
          <% end %>
        </ul>
        <div class="family-needs">Their needs include: <%= family.sampled_needs(8).to_sentence %>.</div>
      </div>
      <% end %>
    <% end %>
  </div>

  <div id='paginator'>
    <% if @not_adopted.length >= 6 %>
      <h4>See More Families!</h4>
    <% end %>
    <%= will_paginate @not_adopted %>
  </div>

  <hr>

  <h1>Adopted Families</h1>
  <div class="adopted-families">
    <% @adopted.each do |family| %>
    <div class="family-details-card">
      <h3><%= link_to "Family #{family.id}", family_path(family) %></h3>
      <ul>
        <% family.family_members.each do |member| %>
        <li><%= member.first_name %>, age: <%= member.age %></li>
        <% end %>
      </ul>
      </div>
        <% end %>

    </div>
  </div>
</div>