<div class="inner">
  <%= render 'shared/drive_sub_nav' %>
  <div class="page-title">
    <h1>Family <%= @family.id %></h1>
  </div>
  <div class="add-family-button">
    <% if organizer?(@family.drive) %>
      <div class="cw-button organizer-button" id="add-member"><%= link_to "Add family member", new_family_family_member_path(@family), action: 'post' %></div>
    <% end %>
  </div>
  <div>
    <% if @family.adopted? %>
      <h3>This family has been adopted!</h3>
    <% else %>
      <div class="cw-button" id="adopt-button"><%= link_to "Adopt this Family", adopt_path(@family), action: 'post' %></div>
    <% end %>
  </div>
  <div class="page-title">
    <h4>This family's gifts should be delivered to:</h4>
    <h4><%= @family.drop_location.code %></h4>
    <h4><%= @family.drop_location.gmaps4rails_address %></h4>
  </div>
  <div id="adoption-confirmation">
    <%= render 'adoption_confirmation' %>
  </div>
  <div class="family-detail-section">
    <% @family.family_members.order('age DESC').each do |member| %>
      <%= render 'family_member_needs_card', member: member, family: @family %>
    <% end %>
  </div>
</div>

  

