<h2>Import Families</h2>

<p>A CSV or Excel file can be used to import family records. The first row should be the column name. The following columns are required. (MAY NEED TO EDIT THIS STATEMENT)</p>

<h5><strong> This list may need to include the "Family Code", and not "id" or "family_id"</strong></h5>
<ul>
  <% FamilyMember.columns.each do |column| %> 
    <li>
      <strong><%= column.name %></strong> - 
      <%= column.type.to_s.titleize %> type
    </li>  
  <% end %>
</ul>

<%= form_for [@drive, @family_members] do |f| %>
  <% if @family_members.errors.any? %>
    <div id="import_errors">
      <h2><%= pluralize(@family_members.errors.count, "error") %> prohibited this import form completing:</h2>
      <ul>
      <% @family_members.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="import_field">
    <%= f.file_field :file %>
    <%= f.submit "Import" %>
  </div>
<% end %>



