<div class='add-location'>
<h3>Add a Location</h3>
  <%= form_tag("/drives/#{@drive.id}/drop_locations", method: "post") do %>
      
      <%= text_field_tag :street, nil, :placeholder => "street" %><br>

      <%= text_field_tag :city, nil, :placeholder => "city" %><br>

      <%= text_field_tag :state, nil, :placeholder => "state" %><br>

      <%= text_field_tag :zipcode, nil, :placeholder => "zipcode" %><br>

      <%= text_field_tag :code, nil, :placeholder => "location code or name" %>

      <div><%= submit_tag("Add Location") %></div>
    <% end %> 

    <h4>Current Locations</h4>
    <% if @locations.empty? %>
      no locations assigned yet
    <% else %>
      <ul>
      <% @locations.each do |location| %>
        <li><%= location.code %></li>
      <% end %>
      </ul>
    <% end %>

</div>

